{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}{{ 'Menu.AdminDashboard'|trans }}{% endblock %}

{% block main %}
<div class="dashboard-welcome">
    <div class="dashboard-welcome__icon">&#127919;</div>
    <h2 class="dashboard-welcome__title">{{ 'Dashboard.Welcome'|trans }}</h2>
    <p class="dashboard-welcome__text">
        {{ 'Dashboard.CustomizeTemplate'|trans }}<br>
        <code>templates/dashboard/index.html.twig</code>
    </p>
    <p class="dashboard-welcome__text">
        {{ 'Dashboard.AddWidgets'|trans }}<br>
        {{ 'Dashboard.CustomizeController'|trans }}<br>
        <code>src/Infrastructure/Http/Controller/DashboardController.php</code>
    </p>
</div>
{% endblock %}
